.dt {
    text-align: center;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #999999;
    border: 0px solid grey; }

.dt:hover {
    color: black;
    background-color: white; }

.month-day {
    width: 20px; }

.year {
    width: 30px; }

.c-cell {
    min-width: 100px;
    padding: 4px; }

.clubber-url {
    color: black; }

.misc-border {
    font-family: "Verdana";
    text-align: center;
    margin-bottom: 20px;
    margin-right: 30px;
    padding: 4px;
    border: 2px solid #66ff66;
    border-radius: 6px;
    width: 180px;
    height: 64px;
    display: inline-block; }

.misc-border:hover {
    background-color: #66ff66; }

.misc-links {
    text-decoration: none;
    color: green; }

.misc-icons {
    vertical-align: middle; }

.cit {
    color: grey; }