body {
    background-color: white; }

div.home-menu.sales {
    height: 30px;
    border-radius: 0px;
    padding: 0px;
    color: #ff8100;
    margin-top: 20px;
    background-color: #ff8100; }

div.home-menu.sales a {
    border-radius: 0px;
    background-color: white;
    padding: 3px;
    padding-top: 6px; }

div.action-container {
    margin-top: 0px;
    padding-top: 0px; }

h1.center.hook.give {
    margin-top: 0px;
    padding-top: 0px; }