*~
.sass-cache*
aws-setup.scm
ktr-db
nohup.out
*#
send-grid-key
send-grid-user
stripe-username.scm
*.so
config
i-am-production
*.pdf
query-log
/.emacs.desktop
/last-backup
/.emacs.desktop.lock
/i-am-staging
/logs/debug.log
/src/utils/ktr-utils.import.scm
/src/utils/ktr-utils.o
